<!DOCTYPE html>
<html>
    <head>
        <title>Rishi's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">My first blog</a></h1>
        </header>

        <article>
            <h2><a href="">My first post</a></h2>
            <time>published: Saturday, 24/07/21</time>
            <p>randomstuff1</p>
        </article>

        <article>
            <h2><a href="">My second post</a></h2>
            <time>published: Saturday, 24/07/21</time>
            <p>randomstuff2</p>    
        </article>
    </body>
</html>